@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');

*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Fira Code" monospace;
}
/*  BANNER */
.banner{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url(../images/james-harrison-vpOeXr5wmR4-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

div h1{
    font-family: "Fira Code" ,monospace ;
    letter-spacing: 3px;
    color: white;
    white-space: nowrap;
    border-right: 4px solid ;
    width: 21ch;
    font-weight: 500;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}
div .subtitulo{
    font-family: "Fira Code" ,monospace ;
    letter-spacing: 3px;
    color: white;
    font-weight: 300;
    text-align: center;
}
/* EFECTO MAQUINA DE ESCRIBIR TYPING */
@keyframes typing{
    from {
        width: 0
    };
}
@keyframes blink{
    50% {
        border-color: transparent
    };
}

/* REDES */
.redes{
    margin: 20px 0;
}
.redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #940253;
    border: 1px solid #940253;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 1.8em;
    margin-right: 1.8em;
    transition: .3s;
}
.redes a:hover{
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;
}

/* MENU */
.barra-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    transition: all 0.5s linear 0s;
}
.logo{
    width: 200px;
    height: auto;
}
ul li{
    list-style: none;
}
ul li a{
    list-style: none;
    color: white;
    margin: 2em;
    text-decoration: none;
    transition: all 1s ease;
}
.barra_nav_puntos li a:hover{
    background-color:  white;
    padding: 0.5em;
    border-radius: 0.3em;
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;

}
.barra_nav_puntos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.5em;    
}


/* PARA CAMBIAR EL COLOR DEL MENU AL HACER SCROLL CON JS */
.cambiar-fondo{
    background-color:  #940253;
    transition: all 2s ease;
}

 /* FOTO CV  */
 .contenedor-foto-perfil {
    position:relative;

}
.contenedor-foto-perfil img{
    max-width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
    border: 4px solid #940253
}
body{
    min-height: 100vh;
}


/* SECCION SOBRE MI */
.sobre-mi{
    background-color: #e6e6e6;
    padding: 140px 0 40px 0;
    text-align: center;
}
.titulos-secciones{
    font-family: "Yellowtail" ;
    font-style: italic;
    font-weight: 700;
    font-size:xx-large;
    text-align: center;

}
#skills{
    margin-bottom: 1em;
}
#sobre-mi p{
    max-width: 700px;
    margin: auto;
    color: #666;
}

.fila-padre{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "ubicacion intereses email";
    text-align: center;
    background-color: #e6e6e6;
    padding-bottom: 3em;
}
.ubicacion{
    grid-area: "ubicacion";
    padding: 3em;
}
.intereses{
    grid-area: "intereses";
    padding: 3em;
}
.email{
    grid-area: "email";
    padding: 3em;
}

span{
    font-weight: bold;
}

/* LOS SKILLS */
.contenedor-skills{
    padding: 5em;
    overflow: hidden;
    background-image: url(../images/img.jpg);
    backdrop-filter: blur(800px);
    background-attachment: fixed;
    background-size: cover; 
}
.contenedor-skills .slide-skills{
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(8em * 14);
    -webkit-animation:scroll 40s linear infinite; 
}
#skills{
    color: white;
}
.div-skills{
    animation : slide 3s linear infinite; 
    width: 200px;
} 
.div-skills i{
    width:8em;
}


@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform:translateX(0);
        color:#940253;
    }
    100%{
        -webkit-transform: translateX(calc(-200px *7));
        transform: translateX(calc(-200px *7));
        color:#940253;
    }
}

/* SECCION FORMACION */
.formacion{
    height: auto;
    background-color: #e6e6e6;
    padding-top: 6em;
    padding-bottom: 6em;

}
.formacion .titulo-formacion{
    font-family: "Yellowtail" ;
    font-style: italic;
    font-weight: 700;
    font-size:xx-large;
    text-align: center;
}
.formacion h2{
    text-align: center;
    font-weight: 500;
}
.div-padre-formacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.carrusel{
    width:40%
}
.cajas-formacion{
    width:500px;
    opacity: 0.7; 
    background-color: #000;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    border-color: #000;
}
.cajas-formacion .accordion-item {
    background-color:#e6e6e6; 

}

.cajas-formacion .accordion-button {
    background-color:#000;
    color: white; 
}

.cajas-formacion .accordion-button:focus {
    box-shadow: none;
}
.cajas-formacion .accordion-button:not(.collapsed) {
    background-color: #bbbbbb;
    color: black;
}

/* SECCION PROYECTOS */
.proyectos{
    padding-top: 6em;
    padding-bottom: 7em;
    background-image: url(/images/1.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: black;
    text-align: center;
}
.div-proyectos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5em;
}
.div-proyectos .card{
   margin: 0.5em;
   width: 16rem;
   background-color:#000;
   box-shadow: 5px 5px 8px #e6e6e6;
   color: white;
}


/* SECCION FOOTER */
footer{
    background-color: #202020;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
}
.nav-footer .barra_nav_puntos-footer li a:hover{
    color: #940253;

}
footer .div-telefono i{
    color:#940253
}
.div-telefono h5{
    color:#940253;
    display:inline-block
}
.div-email h5{
    display: inline-block;
    color: #940253;
}
footer .div-email i{
    color: #940253;
}
.div-telefono{
    text-align: center;
    padding: 2em;
}
footer .div-email{
    text-align: center;
    padding: 2em;
}

.nav-footer{
    padding-top: 3em;
}

/* MEDIA QUERIES */
@media  (min-width:320px) and (max-width:374px){
    .banner{
        width: 100%;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .barra_nav_puntos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;     
        margin-top: 0.5em;   
    }
    div h1{
        letter-spacing: 1px;
    }
    div .subtitulo{
        letter-spacing: 1px;
    }
    .div-columna{
        padding: 0;
    }
    .cajas-formacion{
        width: 300px;
    }
    .carrusel{
        width: 100%;
    }
    /* REDES */
    .banner-contenedor{
        padding-top: 5em;
    }
    div h1{
        font-family: "Fira Code" ,monospace ;
        letter-spacing: none;
        width: 19ch;
    }
    .redes a{
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    #sobre-mi p{
        padding: 1.5em;
    }
    .fila-padre{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "ubicacion" 
        "intereses" 
        "email";
    }
    footer{
        text-align: center;
        display: block;
    }
    .barra_nav_puntos-footer{
        padding-left: 0;
    }
    .cajas-formacion{
        width: 100%;
    }
}
@media (min-width:374px) and (max-width:437px) {
    .banner{
        width: 100%;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner-contenedor{
        padding-top: 5em;
    }
    div h1{
        font-family: "Fira Code" ,monospace ;
        letter-spacing: none;
        width: 19ch;
    }
    #sobre-mi p{
        padding: 1.5em;
    }
    .barra_nav_puntos{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        align-items: center;     
        margin-top: 0.5em;   
    }
    ul li a{
        margin:1.3em
    }
    div h1{
        letter-spacing: 2px;
    }
    div .subtitulo{
        letter-spacing: 2px;
    }
    .fila-padre{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "ubicacion" 
        "intereses" 
        "email";
    }
    /* REDES */
    .redes a{
        margin-left: 0.7em;
        margin-right: 0.7em;
    }
    .cajas-formacion{
        width: 100%;
    }
}

@media (min-width:437px)and (max-width:600px){
    div h1{
        letter-spacing: 2px;
    }
    div .subtitulo{
        letter-spacing: 2px;
    }
    div h1{
        font-family: "Fira Code" ,monospace ;
        letter-spacing: none;
        width: 20ch;
    }
    #sobre-mi p{
        padding: 1.5em;
    }
    .redes a{
        margin-left: 0.9em;
        margin-right: 0.9em;
    }
    .formacion{
        flex-direction: column;
    }
    .carrusel{
        width: 100%;
        margin: 0;
    }
    .cajas-formacion{
        width: 100%;
    }
    .fila-padre{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "ubicacion" 
        "intereses" 
        "email";
    }
    footer{
        text-align: center;
        display: block;
    }
    .barra_nav_puntos-footer{
        padding-left: 0;
    }
}
@media (min-width:600px) and (max-width:860px){
    div h1{
        letter-spacing: 3px;
        width: 21ch;
    }
    #sobre-mi p{
        padding: 1.5em;
    }

    .redes a{
        margin-left: 1.3em;
        margin-right: 1.3em;
    }
    .formacion{
        flex-direction: column;
    }
    .carrusel{
        width: 100%;
        margin: 0;
    }
    .cajas-formacion{
        width: 100%;
    }
}

@media (min-width:861px)and (max-width:1440px){
    .cajas-formacion{
        width: 100%;
    }
}